


.navbar-default {
  .container-fluid {
    background-color: #c41200;
    .navbar-nav > li > a {
      color: #ffffff;
      font-size: 16px;
      font-weight: bold;
    }
    .navbar-brand {
        color: black;
        font-size: 30px;
        font-weight: bold;
        font-family: 'Hobo Std';
        text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;        
    }
  }
}







body {

	min-width: 750px;

	.container-fluid {
    padding: 10px 50px;
	}
	
	.table > tbody > tr > td {
		vertical-align: middle;
	}



	.jumbotron {
	  background-color: #fdf7e1;
	  border: 1px solid #f2cb3b;
	  border-radius: 10px;

	  h2 {
	    color: #c41200;
	    font-weight: bold;
	   }
	}

	a.btn-primary:visited { 
		color: #fff; 
	}
	

}




footer {
	margin-top: 25px;
    padding-top: 5px;
/*    border-top: 1px solid lightgray;*/
    color: #999;

	a {
		color: gray;

	  &:hover {
	  		color: gray;
  			text-decoration: none;
	  }
	}

	ul {
		float: right;
  		list-style: none;

  		li {
  			float: left;
			margin-left: 10px;
  		}
	}
}




p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {

  
  .form-control {
    border: 1px solid red;
  }

}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

#star-rating {
  margin-bottom: 10px;
}

/* needed !important to overcome default bootstrap settings*/

.navbar-brand {
  padding-left: 30px !important;
  margin-left: 0px !important;
}

@media (min-width: 767px) {

	#login {
	  padding-right: 0px !important;
	}
}

@media (max-width: 767px) {

	.searchbox {
		width: 30% !important;
		margin: 10px auto 15px auto !important;
		display: block !important;
		
	}

}







