// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


footer {
	margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid lightgray;
    color: #999;

	a {
		color: gray;

	  &:hover {
	  		color: gray;
  			text-decoration: none;
	  }
	}

	ul {
		float: right;
  		list-style: none;

  		li {
  			float: left;
			margin-left: 10px;
  		}
	}
}