

<footer class="footer">

  <small>
    <div class="pull-left">
    <p>A Ruby-on-Rails project by <%= link_to "John McDonald", "http://thejohnnymac.com" %></p>
    </div>
    
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "My Github", "https://github.com/johnptmcdonald" %></li>
      </ul>
    </nav>

  </small>
</footer>